" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader = " "

Plug 'machakann/vim-highlightedyank' " Highlight copied text
Plug 'tpope/vim-commentary' " Commentary plugin
Plug 'preservim/nerdtree'


set ignorecase
set wrapscan                      " searches wrap around the end of the file
set gdefault                      " substitute all occurrences in line per default
set relativenumber
set number


set clipboard+=unnamed
set clipboard+=unnamedplus


vnoremap < <gv
vnoremap > >gv
vnoremap = =gv

" don't overwrite register when pasting over selection
vnoremap p pgvy

nnoremap <C-v> p
inoremap <C-v> <esc>pa

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

set easymotion
nmap s <Plug>(easymotion-s)

sethandler <c-h> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
sethandler <c-l> a:vim
nnoremap <c-h> <c-W>h
nnoremap <c-j> <c-W>j
nnoremap <c-k> <c-W>k
nnoremap <c-l> <c-W>l
" nnoremap <c-w>n :action EditSourceInNewWindow<CR>

nmap <leader>? :action GotoAction<CR>

nnoremap gr :action ShowUsages<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>

nnoremap <leader>n :action GotoNextError<CR>
nmap gh <Action>(ShowErrorDescription)


" nmap <leader>rr :action RenameElement<CR>
nnoremap <leader>rev :action IntroduceVariable<CR>
vnoremap <leader>rev :action IntroduceVariable<CR>
nnoremap <leader>rem :action ExtractMethod<CR>
vnoremap <leader>rem :action ExtractMethod<CR>
nnoremap <leader>rm :action Move<CR>
nnoremap <leader>ro :action OptimizeImports<CR>
nnoremap <leader>rG :action Generate<CR>

vnoremap <leader>f  :action ReformatCode<CR>
nnoremap <leader>f  :action ReformatCode<CR>

nnoremap <leader>e :NERDTree<CR>


nmap <C-p> <Action>(SearchEverywhere)


nmap <leader>rr <Action>(Run)
nmap <leader>rd <Action>(Debug)
nmap <leader>rs <Action>(Stop)
nmap <leader>bb <Action>(ToggleLineBreakpoint)


" https://github.com/JetBrains/ideavim/discussions/375
" echo &ide
if &ide =~? "rider"
    nmap <leader>tr <Action>(RiderUnitTestRunContextAction)
    nmap <leader>td <Action>(RiderUnitTestDebugContextAction)
    nmap <leader>ta <Action>(RiderUnitTestRunSolutionAction)
    nmap <leader>ba <Action>(BuildWholeSolutionAction)
endif

if &ide =~? "idea"
    " Build All
    nmap <leader>ba <Action>(CompileDirty)
    " This Run (run code/test under cursor)
    map <leader>tr <Action>(RunClass) 
     " This Debug (debug code/test under cursor)
    nmap <leader>td <Action>(DebugClass)
endif
